@import 'base/variables';

*{
    margin: 0;
}

body {
    padding-top: 60px;
    background: #222831;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

@import 'blocks/navbar';
@import 'blocks/promo';
@import 'blocks/blackCoffees';
@import 'blocks/hotCoffees';
@import 'blocks/whiteCoffees';
@import 'blocks/voucher';
@import 'blocks/reviews';
@import 'blocks/openTime';
@import 'blocks/branches';
@import 'blocks/footer';
